.blog-container {
  height: 100%;

  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c4c4c4;
  list-style-type: none;
}
.blog-list {
  background-color: white;
  width: 80%;
  height: auto;
  margin-top: 2%;
}
.blog-list a {
  text-decoration: none;
}
.blog-info {
  display: flex;
  flex-direction: row;
  color: #000000;
  /* opacity: 0.9; */
}
.blog-info p {
  font-size: 18px;
}
.blog-info h5 {
  opacity: 1;
}
.blog-info h5 > span {
  padding-left: 3px;
  padding-right: 3px;
}
.blog-image {
  display: flex;
  flex-direction: column;
}
.blog-image img {
  height: 200px;
  width: 250px;
}
.blog-image span {
  margin: 2%;
}
.blog-image h5 {
  font-size: 14;
}
.blog-description {
  margin-left: 2%;
  margin-right: 2%;
}
.blog-description span {
  color: #4b1a41;
  font-weight: bold;
}
#trashicon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  color: rgb(170, 12, 12);
}
.readmore {
  width: 120px;
  height: 30px;
  color: white;
  background-color: #4b1a41;
  margin-bottom: 2%;
}

@media screen and (max-width: 800px) {
  .blog-image {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #000000;
  }
  .blog-list {
    margin-top: 5%;
  }
  .blog-info {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .blog-list {
    background-color: white;
    width: 90%;
    height: 60%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-image img {
    height: 180px;
    width: 200px;
  }
  .blog-image {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #000000;
  }
  .blog-image img {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .blog-image img {
    height: 200px;
    width: 100%;
  }
}
