body {
  background-color: white;
}
* a {
  color: white;
}

.siderbar {
  height: 100%;
  width: 20%;
  position: fixed;

  top: 0;
  left: 0;
  color: white;
  background-color: #4b1a41;
}
/* #blogpostcontainer {
  background-color: white;
  margin-left: 10%;
} */
.sidebar-header {
  display: flex;
  flex-direction: row;
}
.sidebar-header > h2 {
  left: 2%;
}
.main-content {
  margin-left: 20%;
  height: 30%;
  background-color: #c4c4c4;
}
.main-content > main > h2 {
  margin-left: 5%;
}

.blog-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c4c4c4;
  list-style-type: none;
}
.blog-list {
  background-color: white;
  width: 80%;
  height: auto;
  margin-right: 10%;
  margin-top: 2%;
}
.sidebar-menu a {
  text-decoration: none;
  font-size: 20px;
}
.sidebar-menu > ul {
  list-style-type: none;
}
.sidebar-menu > ul > li {
  margin-top: 10%;
}
.sidebar-header > .memu-icon {
  margin-top: 7%;
  margin-left: 30%;
  font-size: 20px;
}
.sidebar-header > .brand {
  margin-left: 10%;
}
.dashboard-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.card-single {
  display: flex;
  flex-direction: column;
  margin: 5%;
  margin-top: 0%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20%;
}
.card-single i {
  font-size: 50px;
}
.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* background-color: darkgoldenrod; */
}
.card-icon,
.card-footer {
  /* background-color: darkkhaki; */
  margin-left: 10%;
}
.card-footer a {
  font-size: 20px;
  text-decoration: none;
  color: #4b1a41;
  font-weight: bold;
}
.card-content {
  /* background-color: cyan; */
  margin-left: 5%;
  font-size: 20px;
  height: 2%;
}

.card-content p {
  color: red;
  top: 0;
}
#card-icon1 {
  color: darkgreen;
}
#card-icon2 {
  color: magenta;
}
#card-icon3 {
  color: dodgerblue;
}

.post-container {
  margin-left: 20%;
}
#blogpostcontainer {
  background-color: #c4c4c4;
  height: 100vh;
}
#update {
  width: 120px;
  height: 30px;
  color: white;
  background-color: #4b1a41;
}
#updatedeletediv {
  font-size: 25px;
  width: 100%;
  /* background-color: aquamarine; */
}
#deleteicon {
  margin-left: 100px;
}
#logoutitem {
  margin-top: 200px;
  font-size: 25px;
}
#logout {
  border: none;
  background-color: inherit;
  color: white;
  font-size: 22px;
}
