.nav-container {
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: blue;
}
.nav-container h1 {
  margin-left: 120px;
}
#nav-menu {
  margin-left: 30px;
}

#nav-menu a {
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  padding-left: 60px;
}

.profile-info {
  background-color: #4b1a41;
  display: flex;
  overflow: auto;
  flex-direction: row;
  width: 100%;
  height: 380px;
}
.me-info {
  margin-left: 120px;
  color: #ffffff;
  width: 50%;
}
.me-info button {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
  height: 40px;
  width: 160px;
  color: #ffffff;
  background-color: inherit;
  border: 1px solid;
  border-color: #ffffff;
}
.me-info p {
  font-size: 30px;
  opacity: 0.8;
}
.me-image {
  background-color: inherit;
  height: 320px;
  width: 23%;
  /* margin-right: 90px; */
  border-left: 10px solid;
  border-bottom: 10px solid;
  border-color: black;
  margin-top: 30px;
}

.me-image img {
  padding-left: 25px;
  height: 280px;
  width: 300px;
}

.about-container {
  width: 100%;
  background-color: #000000;
}
.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.about-info p {
  width: 75%;
  font-size: 25px;
  text-align: center;
  margin-top: 25px;
  opacity: 0.8;
}
.about-info a {
  margin-top: 25px;
  font-size: 30px;
  text-decoration: none;

  color: #ffe06a;
}
.about-info button {
  background-color: #ffe06a;
  color: #000000;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 50px;
  border-color: black;
  height: 40px;
  width: 220px;
}

.p-servise {
  background-color: inherit;
  font-size: 20px;
  height: 30px;
  width: 80px;
  margin-left: 30px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: #ffe06a;
  font-size: 20px;
  margin-top: 30px;
}
.p-servise p {
  padding-left: 10px;
  color: #ffffff;
}

.services-container {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  margin-top: 20px;
  margin: 40px;
}
.Services {
  display: flex;
  flex-direction: column;
  color: #000000;
  margin-left: 30px;
  background-color: #c4c4c4;
  width: 30%;
  height: 600px;
}
.sevices-img {
  position: relative;
  text-align: center;
}

.sevices-img span {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 75%;
  left: 50%;
  color: #ffe06a;
  font-size: 20px;
  width: 100%;
}

.sevices-img img {
  width: 100%;
  height: 250px;
}

.sevices-p {
  font-size: 30px;
}
